<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->
</head>
<body>
    <div id="main">
        <canvas id="game"></canvas>
    </div>
    <nav id="chooser"></nav>
    <div id="maps">
        <pre class="map">
            XXXXXXXXXXXXXXXXXXXXXX
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X..........u.........X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            XXXXXXXXXXXXXXXXXXXXXX
        </pre>
        <pre class="map">
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            XXXXXXXXXX..XXXXXXXXXX
            X....................X
            X....................X
            X....................X
            X.........u..........X
            X....................X
            X....................X
            XXXXXXXXXX..XXXXXXXXXX
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
            X....................X
        </pre>
        <pre class="map">
            XXXXXXXXXX..XXXXXXXXXX
            X........X..X........X
            X........X..X........X
            X........X..X........X
            X........X..X........X
            X........X..X........X
            X........X..X........X
            X....................X
            X....................X
            XXXXXXX........XXXXXXX
            ......................
            r.....................
            XXXXXXX........XXXXXXX
            X....................X
            X....................X
            X........X..X........X
            X........X..X........X
            X........X..X........X
            X........X..X........X
            X........X..X........X
            X........X..X........X
            XXXXXXXXXX..XXXXXXXXXX
        </pre>
    </div>
</body>
</html>