<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->
</head>
<body>
    <div id="main">
        <canvas id="game"></canvas>
    </div>
    <div id="maps">
        <pre class="map">
            XXXXXXXXXXXXXXXXXXXX
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X.........u........X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            XXXXXXXXXXXXXXXXXXXX
        </pre>
        <pre class="map">
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            XXXXXXXXX..XXXXXXXXX
            X..................X
            X..................X
            X..................X
            X.........u........X
            X..................X
            X..................X
            XXXXXXXXX..XXXXXXXXX
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
            X..................X
        </pre>
        <pre class="map">
            XXXXXXXXX..XXXXXXXXX
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            X..................X
            X..................X
            XXXXXX........XXXXXX
            ....................
            r...................
            XXXXXX........XXXXXX
            X..................X
            X..................X
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            X.......X..X.......X
            XXXXXXXXX..XXXXXXXXX
        </pre>
    </div>
</body>
</html>